<div>
  <div>
    <div>
      <table>
        <thead>
          <tr>
           <th>質問内容</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td><%= post.title %></td>
            </tr>
          <% end %>
          <tr><td colspan="6"><a href="a">しつもん</a></td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>