@font-face {
	font-family: 'waon';
    src: url('/assets/font/WaonJoyo-R.otf');
}

body{
  background: url(/assets/photo/img_3137.png);
  font-family: "waon";
}
#navbar{
  color: #e0ffff;
}

.css-normal{font-language-override: 'normal';}

#form{
  background-color: #ffffff;
  /* font-family: 'arial unicode ms'; */
}

.table > tbody > tr > td {
  font-size: 14px;
  padding: 25px;
}

.table > tbody > tr > th {
  font-size: 16px;
  padding: 25px;
}

.table > thead > tr > th {
  font-size: 18px;
  padding: 30px;
 }

.panel-default > .panel-heading {
  font-size: 20px
}

.form-group {
  margin-bottom: 20px;
  font-size: 20px;
}

select {
  font-size: 15px;
  line-height: inherit;
}

/* .css-normal{font-language-override: 'normal';} */

textarea {
  font-size: 15px;
  margin : 15px 5px 15px 5px;
  width: 100%;
  font-family: 'arial unicode ms';
}

@media (min-width: 768px) {
  .navbar-nav> li > a {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .navbar>.container .navbar-brand,
  .navbar>.container-fluid .navbar-brand {
    margin-left: -15px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .navbar-header {
    margin-right: auto;
  }

  .container-fluid {
    display: flex;
    justify-content: space-between;
    padding-right: 0px;
  }

  .container-fluid>:first-child {
    margin-right: auto;
  }
}

select {
  height: 30px;
}

.btn-primary {
    color: #000000;
    background-color: #ffffff;
    border-color: #121e29;
}

.btn-primary:hover {
    color: #000000;
    background-color: #ffffff;
    border-color: #aebac5;
}

.btn-warning {
    color: #000000;
    background-color: #ffffff;
    border-color: #121e29;
}

.btn-warning:hover {
    color: #000000;
    background-color: #ffffff;
    border-color: #aebac5;
}

.navbar-brand > img {
    margin-top: -8px;
}